fastapi
numpy
keras
uvicorn
pandas
scikit-learn
tensorflow
torch
joblib
opencv-python
Pillow
transformers
openai
python-multipart
urllib3
requests
gunicorn
prometheus-client
xboost
python-dotenv
google-generativeai